:root{
--Gradient-from: hsl(6, 100%, 80%);
--Gradient-to: hsl(335, 100%, 65%);
--Blue-200: hsl(243, 100%, 93%);
--Grayish-Blue: hsl(229, 7%, 55%);
--Blue-850: hsl(228, 56%, 26%);
--Blue-950: hsl(229, 57%, 11%);
}

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    min-height: 100vh;
    background-image: url(./images/bg-desktop.png);
    background-repeat: no-repeat; 
    background-position: 100% bottom ;
    background-attachment: fixed;
    background-color: var(--Blue-950);
    background-size: 100%;
    display: flex; 
    align-items: center; 
}

.container{
    width: 60%;
    margin: 0 auto;
    display: flex;  
    gap: 2rem; 
    margin-bottom: 5em;
}
    

.images{ 
    background-color: var(--Blue-850);
    padding: 2em 6em 2em 2em;
    border-radius: 1em 6em 1em 1em ;
}

.icons{
    display: flex; 
    gap: 1rem;
    margin-top: 2em;
}

.space{
    background-color: var(--Blue-950);
    padding:0.6em;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}


.storage{ 
    min-width: 340px;
    flex-grow: 2;
    background-color: var(--Blue-850);
    color: var(--Grayish-Blue);
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 3em;
    border-radius: 1em;
}

p span{
    color: var(--Blue-200);
}

.span{
    display: flex; 
    justify-content: space-between;
    color: var(--Blue-200);
    margin-top: -0.3em;
}
 
meter {  
  width:max(100%,300px);
  height: 30px;
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none;
  background-color:var(--Blue-950); 
  border-radius:15px;
}
  
meter::-webkit-meter-bar {   
  width:max(98% ,290px);
  height:20px;
  margin-left:5px;
  background: none; 
  background-color:var(--Blue-950); 
}

meter::-webkit-meter-optimum-value { 
  border-radius:10px;
  background-image: linear-gradient(
    90deg, var(--Gradient-from),
    var(--Gradient-to)
  );
  background-size: 100% 100%;
}

.div-meter{
    position: relative;
}

.meter{
    width: 100%;
    display: block;
}

.meter::after{
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    background-color: var(--Blue-200);
    border-radius: 50%;
    top: 7px;
    right: 20%;
}