:root{
--Gradient-from: hsl(6, 100%, 80%);
--Gradient-to: hsl(335, 100%, 65%);
--Blue-200: hsl(243, 100%, 93%);
--Grayish-Blue: hsl(229, 7%, 55%);
--Blue-850: hsl(228, 56%, 26%);
--Blue-950: hsl(229, 57%, 11%);
}

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    min-height: 100vh;
    background-image: url(./images/bg-desktop.png);
    background-repeat: no-repeat; 
    background-position: 100% bottom ;
    background-attachment: fixed;
    background-color: var(--Blue-950);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.container{
    width: 60%;
    margin: 0 auto;
    display: flex;  
    gap: 2rem; 
    margin-bottom: 5em;
}
    

.images{ 
    background-color: var(--Blue-850);
    padding: 2em 6em 2em 2em;
    border-radius: 1em 6em 1em 1em ;
}

.icons{
    display: flex; 
    gap: 1rem;
    margin-top: 2em;
}

.space{
    background-color: var(--Blue-950);
    padding:0.6em;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}
