:root{
--Gradient-from: hsl(6, 100%, 80%);
--Gradient-to: hsl(335, 100%, 65%);
--Blue-200: hsl(243, 100%, 93%);
--Grayish-Blue: hsl(229, 7%, 55%);
--Blue-850: hsl(228, 56%, 26%);
--Blue-950: hsl(229, 57%, 11%);
}

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    min-height: 100vh;
    background-image: url(./images/bg-desktop.png);
    background-repeat: no-repeat; 
    background-position: 100% bottom ;
    background-attachment: fixed;
    background-color: var(--Blue-950);
    background-size: 100%;
    display: flex; 
    align-items: center; 
}

.container{  
    width: 80%;
    margin: 0 auto;
    display: flex;  
    margin-bottom: 8em;
}
    

.images{ 
    background-color: var(--Blue-850);
    padding:3em 3em 3em 3em;
    border-radius: 1em 6em 1em 1em ; 
    margin-right: 3em;
    display: flex;
    flex-direction: column; 
    flex-basis: 450px;
}

.images>:first-child{
    width: 200px;
}

.icons{
    display: flex; 
    gap: 2rem;
    margin-top: 3em;
}

.space img{
    width: 30px; 
}

.space{
    
    background-color: var(--Blue-950);
    padding:1.2em;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}


.storage{ 
    font-size: 1.2rem;
    position: relative;
    flex-basis: 400px;
    flex-grow: 2;
    background-color: var(--Blue-850);
    color: var(--Grayish-Blue);
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 3em;
    border-radius: 1em;
}

p span{
    color: var(--Blue-200);
    font-weight: 700;
}

.span{
    display: flex; 
    justify-content: space-between;
    color: var(--Blue-200);
    margin-top: -0.3em;
}
 
meter {  
  width:100%;
  height: 30px;
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none;
  background-color:var(--Blue-950); 
  border-radius:15px;
}
  
meter::-webkit-meter-bar {   
  width:98%;
  height:20px;
  margin-left:5px;
  background: none; 
  background-color:var(--Blue-950); 
  border-radius: 10px;
}

meter::-webkit-meter-optimum-value { 
  border-radius:10px;
  background-image: linear-gradient(
    90deg, var(--Gradient-from),
    var(--Gradient-to)
  );
  background-size: 100% 100%;
}

.div-meter{
    position: relative;
}

.meter{
    width: 100%;
    display: block;
}

.meter::after{
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    background-color: var(--Blue-200);
    border-radius: 50%;
    top: 7px;
    right: 20%;
}

.parent{ 
    position: absolute;
    top: -3em;
    right: 42px;
}

.message{
    position: relative; 
    width: 230px;
    height: 90px;
    background-color: var(--Blue-200);
    color: var(--Grayish-Blue);
    font-size: 1rem;
    font-weight: 700;
    border-radius: 10px 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.message span{
    color: var(--Blue-950);
    font-size:3rem;
    font-weight: 700;
}

.message::after {
    content: '';
    position: absolute;
    bottom:-2em;
    right: 0;
    border-color: transparent;
    border-style: solid; 
    border-width: 1.3em;
    border-right-color: var(--Blue-200);
    border-top-color: var(--Blue-200);
}

@media screen and (max-width:1024px) {
    .container{
        display: block;
        margin-top:15em;
        margin-bottom:15em;
    }

    .storage{
        align-self: auto;
        margin-top: 6em;
    }
}


@media screen and (max-width:768px) {
    .container{
        min-width: 350px;
        width: 90%;
    }

    .images{ 
        width: 100%;
    }

    .icons{
        gap: 1rem;
    }

    .storage{ 
        margin-top: 2em;
    }

    .parent{  
        top: 10em;
        right: 30%;
    }

    .message{
        height: 100px;
        border-radius: 10px;
    }

    .message::after {
        display: none;
    }
}